html {
   background: url('background.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#banner {
   position: relative;
   font-family: 'Garamond', sans-serif;
   text-align: center;
   color: white;
   margin: -20px -8px;
   padding: 3em 0;
}
#navleft {
   position: relative;
   text-align: left;
   margin: -15px -8px;
   padding: 0.5em;
   background-size: cover;
   background-color: rgb(16, 18, 18);
}
#navleft ul {
   display: inline-block;
}
#navright {
   position: absolute;
   text-align: right;
   margin-top: -21px;
   right: -8px;
   padding: 0.5em;
}
#navright ul {
   display: inline-block;
}
#overlay {
   position: absolute;
   top: -6px;
   left: -8px;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.7);
   height: 100%;
   width: 100%;
   padding: 0 13px;
}
#content {
   position: relative;
   overflow: hidden;
   margin: 12px -8px;
   padding: 1em;
   text-align: left;
   background-color: rgba(16, 18, 18, 0.75);
   background-size: cover;
}
body {
   position: relative;
   z-index: -2;
   color: white;
   font-family: 'Arial', sans-serif;
   font-size: 12pt;
   line-height: 1.2;
   max-width: 98.9%;
}

h1 {
   display: in-line;
   color: white;
}
h2 {
   color: white;
}
h3 {
   color: rgb(151, 171, 177);
}

ul li {
   list-style-type: circle;
   margin-left: -15px;
   color: #243349;
}
a {
   color: #243349;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
.buttons a {
   color: white;
   background-color: rgb(16, 18, 18);
   border: none;
   margin: 20px -3px;
   border-radius: 0px;
   padding: 0.5em 1.5em;
   text-align: center;
   text-decoration: none;
}
.buttons a:hover {
   color: #243349;
   background: white;
}
td,
th {
   padding: 0.1em 1em;
}

#bottom {
   position: relative;
   margin: -12px -8px;
   text-align: right;
   font-size: 0.7em;
   background-color: rgb(16, 18, 18);
   background-size: cover;
   padding: 1px 8px;
}

#wrapper {
   max-width: 1200px;
   margin: auto;
}

.row {
   display: flex;
   width: 100%;
}

.row h2 {
   color: white;
   text-align: center;
   margin-bottom: 5px;
}

.col {
   flex: 50%;
}
.left {
   margin: 0 5px 0 0;
}
.right {
   margin: 0 0 0 5px;
}

.tile {
   background-color: #1f1f21;
   text-align: center;
   margin: auto;
   padding: 10px 0;
}

.tile h2 {
   color: white;
}

.amt {
   color: white;
   font-size: 2.5em;
}

#expense-breakdown {
   position: relative;
   width: 100%;
   padding-top: 50px;
}
#expense-breakdown h2 {
   text-align: center;
}

.donut {
   padding-top: 0px;
   padding-top: 30px;
   width: fit-content;
   margin: auto;
}

#property-breakdown {
   max-width: 1200px;
   margin: auto;
}

.rentInfo article {
   padding: 20px;
}

.rentInfo ul {
   list-style-type: none;
   text-align: left;
   margin: auto;
   width: 70%;
   max-width: 600px;
   padding: 0;
   font-size: 1.2em;
}

.rentInfo li {
   list-style-type: none;
   padding-bottom: 5px;
   color: white;
}

.rentInfo li span {
   text-align: right;
   float: right;
}

.total {
   font-weight: bold;
   padding-top: 30px;
}

.property-form {
    margin-left: -8px;
    width: 11em;
    height: 1.7em;
    border-radius: 10px;
    background-color: rgba(84,105,112,0.09);
    color: white;
    border-color: rgb(15,17,17);
}
.property-form::placeholder {
    padding: 5px;
    font-size: 1.2em;
}
.button-style {
  color: white;
  background-color: rgb(84,105,112);
  border: none;
  border-radius: 0px;
  padding: 0.3em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 0.6em;
  border-radius: 3px;
}

.property-form {
    margin-left: -8px;
    width: 11em;
    height: 1.7em;
    border-radius: 10px;
    background-color: rgba(84,105,112,0.09);
    color: white;
    border-color: rgb(15,17,17);
}
.property-form::placeholder {
    padding: 5px;
    font-size: 1.2em;
}
#add-button {
  color: white;
  background-color: rgb(84,105,112);
  border: none;
  border-radius: 0px;
  padding: 0.3em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 0.6em;
  border-radius: 3px;
}
