{% extends "layout.html" %} {% block content %}

<!-- ASSUMING LANDLORD LOGGED IN HAS ID 1 -->
{% block javascript %}
<script>
   google.charts.load('current', { packages: ['corechart'] });
   google.charts.setOnLoadCallback(drawChart);
   function drawChart() {

      var propertyEntries = [['Task', 'Hours per Day']];

      {% for property in properties %}
         {% for income in propertyIncomes %}
            {% if income.propertyID == property.propertyID %}
         propertyEntries.push(['{{property.street}}', parseInt('{{property.monthlyIncome}}')])
            {% endif %}
         {% endfor %}
      {% endfor %}

      // var data = google.visualization.arrayToDataTable([
      //    ['Task', 'Hours per Day'],
      //    ['Property Tax', parseFloat(propTax)],
      //    ['Maintenence', parseFloat(maintenence)],
      //    ['Utilites', parseFloat(utility)],
      // ]);

      var data = google.visualization.arrayToDataTable(propertyEntries);

      var options = {
         title: 'My Daily Activities',
         pieHole: 0.5,
         // is3D: true,
         backgroundColor: '#000000',
         backgroundColor: { fill: 'transparent' },
         legend: { position: 'bottom', textStyle: { color: 'white' } },
         chartArea: { left: 0, top: 0, right: 0 },
         colors: ['#F7464A', '#46BFBD', '#FDB45C', '#64C441'],
      };

      var chart = new google.visualization.PieChart(
         document.getElementById('donutchart2')
      );
      chart.draw(data, options);
   }
</script>
{% endblock %}

<div id="wrapper">
   <article>
      <h3>Welcome, {{user.firstName + ' ' + user.lastName}}</h3>
   </article>
   <div class="row">
      <div class="col left">
         <h2>Total Income</h2>
         <div class="tile">
            <h4 class="amt">${{ income.rentSum }}</h4>
         </div>
      </div>
      <div class="col right">
         <h2>Expenses</h2>
         <div class="tile">
            <h4 class="amt">${{ expenses.totalExpenses }}</h4>
         </div>
      </div>
   </div>
   <h2>Income Breakdown</h2>
   <div class="donut" id="donutchart2" style="height: 500px"></div>
   <div id="property-breakdown">
      
      <article class="rentInfo">
         {% for property in properties %}
         <h2>{{property.street}}</h2>
         <ul>
            {% for tenant in tenants %} {% if tenant.propertyID ==
            property.propertyID %}

            <li>{{tenant.name}}: <span>${{tenant.monthlyRent}}</span></li>
            {% endif %} {% endfor %} {% for income in propertyIncomes %} {% if
            income.propertyID == property.propertyID %}
            <li class="total">Total:<span>${{income.totalIncome}}</span></li>
            {% endif %} {% endfor %}
         </ul>
         {% endfor %}
         <br>
         <h3>Tenants who rent from all properties:</h3>
         {% for tenant in tenantFromAllProperties %}
         <p>{{tenant.name}}</p>
         {% endfor %}
      </article>
      
   </div>
</div>
{% endblock %}
