{% extends "layout.html" %}
{% block content %}
<article>
    <h3>Welcome {{user}}</h3>
    <p>This application is a utilizable management tool to track monthly income/expenses of different properties, as well as general information about the property, and current tenants. The application user will be able to input new properties and any tenants renting those properties, delete these tenants and properties, search existing properties or search which properties are rented by any specific tenant, and update any information on a specific property or tenant.</p>
</article>
{% endblock %}
