<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
       <h1 id="header">Property Management Tool</h1>
       <div id=navbar class="buttons">
         <table>
           <tr>
             <td><a href="">Home</a></td>
             <td><a href="">Query</a></td>
           </tr>
         </table>
       </div>
   </body>
</html>
