{% extends "layout.html" %}
{% block content %}
<article>
    <h3>Your Properties</h3>
    <table>
        <tr>
            <th>ID#</th>
            <th>Province</th>
            <th>Street</th>
            <th>Postal Code</th>
            <th>Price</th>
            <th>Monthly Income</th>
            <th>Lot Size</th>
            <th>Build Date</th>
        </tr>
        {% for property in data %}
            {% if property.propertyID == edit|int %}
                <tr>
                    <form action=properties method="post">
                    <td>
                      <button class="button-style" type="submit" value={{property.propertyID}} name=confirm>Confirm</button>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.province}} name='editprovince'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.street}} name='editstreet'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.postcode}} name='editpostcode'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.price}} name='editprice'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.monthlyIncome}} name='editmonthlyincome'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.lotSize}} name='editlotsize'>
                    </td>
                    <td>
                      <input class="form-style" type="text" placeholder={{property.buildDate}} name='editbuilddate'>
                    </td>
                    </form>
                </tr>
            {% else %}
                <tr>
                    <td>{{property.propertyID}}</td>
                    <td>{{property.province}}</td>
                    <td>{{property.street}}</td>
                    <td>{{property.postcode}}</td>
                    <td>{{property.price}}</td>
                    <td>{{property.monthlyIncome}}</td>
                    <td>{{property.lotSize}}</td>
                    <td>{{property.buildDate}}</td>
                    <form action=properties method="post">
                        <td><button class="button-style" type="submit" value="{{property.propertyID}}" name=edit>Edit</button></td>
                        <td><button class="button-style" type="submit" value="{{property.propertyID}}" name=delete>&cross;</button></td>
                    </form>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <form action=properties method="post">
            <td>
              <input class="button-style" type="submit" value="Add">
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Province" name='province'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Street" name='street'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Postal Code" name='postcode'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Price" name='price'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Monthly Income" name='monthlyIncome'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Lot Size" name='lotSize'>
            </td>
            <td>
              <input class="form-style" type="text" placeholder="Build Date" name='buildDate'>
            </td>
            </form>
        </tr>
    </table>
</article>
{% endblock %}
